body{
    margin: 0;
}
#header{
    height: 100px;
    background: #e3f6ad;
    margin: 5px;
}
.parent{
    display: flex;
    height: 600px;
}
.menu{
    background: #feb0fc;
    width: 35%;
    margin: 5px;
}
.ppost{
    display: flex;
    width: 65%;
    flex-direction: column;
}
.chpost{
    background: #97defd;
    height: 50%;
    margin: 5px;
}
.footer{
    background: #e3f6ad;
    height: 100px;
    margin: 5px;
}