
.movie_info_box{
    color: burlywood;

}
.movie_info_wrap{
    display: flex;
    column-gap: 20px;

}
.movie_info_box{
    padding: 40px 40px;
}

.movie_info_poster_box img{
    width: 200px;
    height: 300px;
}