.widget{
    background: #2160b0;
    height: 300px;
    margin: 5px;
}
.big_parent{
    height: 200px;
    display: flex;


}
.big_widgets{
    background: #173e6e;
    height: 190px;
    width: 33%;
    margin: 5px;
}
.contact{
    background: #2160b0;
    height: 300px;
    margin: 5px;
}