img{
    width: 160px;
    height: 240px;
}
.movie_title{
    width: 160px;
    color: burlywood;
}

.movie_parts_list{
    width: 100%;
    margin: auto;
    padding: 0 10px;
}

.movie_small_card_box{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;


}