.header{
    background: #0c65a7;
    height: 100px;
}
.nav{
    background: #124b78;
    height: 60px;
}
.pbody{
    display: flex;
    height: 800px;
}
.main{
    background: #16a2c5;
    width: 80%;
}
.aside{
    background: #5275ad;
    width: 20%;
}
.footer{
    background: #7ecce3;
    height: 60px;
}