*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    padding: 0 145px;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify_center{
    justify-content: center;
}

.main{
    width: 1440px;
}

.header_top{
    height: 100px;
}

.header_top__grid{
    column-gap: 141px;
}

.header_top__nav_menu{
    column-gap: 22px;
}

.nav_menu__item a{
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}

.header_top_buttons {
    margin-left: 27px;
    column-gap: 18px;
}

.header_top__nav_menu__login, .header_top__nav_menu__expert, .first_screen_button button{
    font-weight: bold;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 500ms, color 500ms;
}

.header_top__nav_menu__login, .header_top__nav_menu__expert:hover{
    background-color: #ffffff;
    color: #000000;
}
.header_top__nav_menu__expert, .header_top__nav_menu__login:hover{
    background-color: #000000;
    color: #ffffff;
}

.first_screen__left{
    padding-top: 100px;
    max-width: 490px;
    position: relative;
}

.first_screen__left h1{
    font-weight: bold;
    font-size: 77px;
    line-height: 83px;
    color: #000000;
    margin-bottom: 27px;
}

.first_screen__left p{
    font-size: 20px;
    line-height: 31px;
    color: #000000;
}



.first_screen{
    border-bottom: 1px solid #EAEEF2;
}

.first_screen_button{
    width: 220px;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: -33px;
    left: 0;

}

.first_screen_button h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

}

.first_screen_button button{
    background-color: black;
    font-size: 22px;
    margin-top: 27px;
    color: #FFFFFF;
}

.best_finance__grid{
    column-gap: 104px;
}

.best_finance_left{
    margin-top: 242px;
}

.best_finance_right{
    margin-top: 210px;
    margin-left: 53px;
}

.best_finance_right h2{
    font-weight: bold;
    font-size: 57px;
    line-height: 58px;
    color: #000000;
}

.best_finance_right p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #000000;
    margin-top: 33px;
}

.why_switch h2{
    font-weight: bold;
    font-size: 58px;
    line-height: 58px;
    color: #000000;
    padding-top: 276px;
}

.pictures{
    column-gap: 163px;
    margin-top: 82px;
}

.why_switch_text_holder{
    column-gap: 68px;
}

.why_switch_text{
    width: 295px;
}

.why_switch_text h3{
    font-size: 28px;
    line-height: 36px;
    color: #000000;
}

.why_switch_text p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.why_switch_button {

    margin-top: 71px;
}
.pink_button{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    background: #F7B2B7;
    border-radius: 100px;
    padding: 12px 30px;
    border: 0;
    cursor: pointer;
    transition: background-color 500ms, color 500ms;
}

.pink_button:hover{
    background-color: black;
    color: #F7B2B7;
}

.plans_build{
    background: #FDECED;
    height: 705px;
    margin: 126px  0;
    padding: 0 145px;
}

.plans_build > h3{
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 58px;
    color: #000000;
    padding-top: 88px;
}

.plans_build .pictures{
    column-gap: 54px;
}

.logo_right{
    flex-direction: row;
    margin-top: 93px;
    margin-left: 135px;

}
.logo_column{
    display: flex;
    flex-direction: column;
}

.logo_column img{
    margin: 20px;
}
.logo_left p{
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 36px;
    color: #000000;
    width: 236px;
    padding-top: 129px;
}

.ac_hub{
    column-gap: 120px;
}

.ac_hub_left h3{
    margin-top: 286px;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 58px;
    color: #000000;
}
.ac_hub_left p{
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
}

.ac_club_right{
    margin-top: 203px;
}

.ac_hub_button{
    margin-top: 79px;
}

.ready_to_switch{
    height: 283px;
    column-gap: 120px;
    background: #8BD4D6;
    border-radius: 10px;
    margin: 186px 145px 0;
}

.ready_to_switch .left_side h3{
    margin-top: 89px;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
}

.ready_to_switch .left_side p{
    margin-top: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #000000;
}

.right_side > button{
    margin-top: 117px;
}

footer{
    margin-top: 108px;
    background: #302E3F;
    height: 631px;
}

.footer_logo{
    padding-top: 45px;
    column-gap: 18px;
}

.logo_text{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}

.about_us{
    justify-content: space-between;
    margin-top: 50px;
}

.about_us_column h4{
    margin-bottom: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.about_us_column a, .footer_bottom_left a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #C5E9EA;
    text-decoration: none;
}

.about_us_column > div{
    margin: 8px 0;
}

footer > .about_us_column{
    margin-top: 81px;
}

.footer_bottom{
    justify-content: space-between;
}

.footer_bottom_left a{
    margin-right: 27px;
}
 .footer_bottom_left{
     align-items: flex-end;
 }

 .footer_bottom_right{
     margin-right: 0;
 }

 .button_mobile{
     display: none;
     width: 60px;
     height: 60px;
     border: 1px solid #ccc;
     justify-content: center;
 }

 .button_mobile span{
     display: block;
     width: 80%;
     height: 5px;
    background: #cccccc;
     position: relative;
 }

.button_mobile span::before, .button_mobile span::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    position: absolute;
}

.button_mobile span::before{
    top:-10px
}

.button_mobile span::after{
    bottom: -10px;
}